body {
    margin: 0px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    color: #444;
    line-height: 1.7em;
}

.logo {zindex: 2;}
header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: linear-gradient(to right, #330f42, #a12475);
    color: white;
}

footer {
    margin-top: 3em;
    padding-top: 25px;
    padding-bottom: 4em;
    background-color: #292d2e;
    color: #838383;
    font-size: 13px;
}

#connect-status {
    display: flex;
    line-height: 60px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #330f42;
    width: 60px;
    height: 60px;
    transition: width 0.5s ease, background-color 0.5s ease;
}

#connect-status.connected {
    background-color: rgb(81, 136, 0);
    color: white;
    width: 198px;
}

#connect-status.connected .connect-text {
    padding-left: 10px;
    padding-right: 20px;
}

#connect-status.connected #connect-msg::after {
    content: "Connected";
}

#main-content {
    flex: 1 1 76%;
}

aside {
    padding-top: 2em;
    margin-right: 20px;
    flex: 1 1 198px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

aside a {
    flex: 0 0 auto;
    color: #888;
    text-decoration: none;
    display: block;
    line-height: 2.5em;
    padding-left: 4px;
    padding-right: 4px;
    transition: color 0.7s ease, background-color 0.7s ease;
}

@media(max-width: 924px){
    aside {
        flex-direction: row;
    }
    aside a {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 1px;
        margin-right: 1px;
        border-radius: 4px;
    }
}

aside a.figwheel_main_content_link_focus {
    background-color: #eee;
    color: #555;
}

aside a:hover {
    background-color: #eee;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.flex-column {
  /*  flex-direction: column;
    height: 200px; */
}

.logo-text {
    margin-left: 20px;
    color: white;
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 1.2em;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

pre code {
    background-color: #fff;
    padding: 0px;
}

.off-site-resources {
    flex: 1 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.off-site-resources h6 {
    display: block;
    margin-top: 9px;
    margin-bottom: 3px;
    color: #ccc;
    line-height: 25px;
    font-size: 14px;
    text-transform: uppercase;
}

.off-site-resources a {
    display: block;
    color: #a6a6a6;
    font-size: 13px;
    text-decoration: none;
}

.off-site-resources a:hover {
    color: white;
    text-decoration: underline;
}

.top-level-nav {
    margin-top: 10px;
}

.top-level-nav a {
    text-transform: uppercase;
    color: rgb(134, 134, 134);
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    transition: color 0.5s ease;
}

.top-level-nav a:hover {
   /* background-color: #a12475; */
    color: white;
    border-radius: 4px;

}

#reason {
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffb2;
    font-size: 0.8em;
    color: #868619;
    border-left: 4px solid #eaea77;
}
