.repl
example/resources/public/js/compiled
example/resources/public/js/out
example/resources/public/js/example.js
example/resources/public/js/prod
example/figwheel_server_log.txt
example/figwheel_server.log
example/node_modules
example/server_out
example/target
support/target
sidecar/target
plugin/target
/target
/lib
/classes
/checkouts
/out
/.repl
pom.xml
pom.xml.asc
\#*\#
.\#*
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.lein-classpath
config.ru

*-init.clj
sidecar/figwheel_server.log
