{:deps {org.clojure/clojure {:mvn/version "1.8.0"}
        org.clojure/clojurescript {:mvn/version "1.10.238"}}
 :aliases
 {:dev {:extra-deps
        {ring {:mvn/version "1.6.3"}
         ring-cors {:mvn/version "0.1.11"}
         org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.2.21.v20170120"}
         org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.2.21.v20170120"}}}}
 }
