{:deps {org.clojure/clojure {:mvn/version "1.8.0"}
        org.clojure/clojurescript {:mvn/version "1.10.238"}
        figwheel-repl {:local/root "../figwheel-repl"}
        figwheel-core {:local/root "../figwheel-core"}

        ring {:mvn/version "1.6.3"}
        org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.2.21.v20170120"}
        org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.2.21.v20170120"}

        hawk {:mvn/version "0.2.11"}}

 :paths ["src" "target" "dev_resources"]
 }
