@import url("imported.css");

@font-face {
  font-family: 'source_sans_proregular';
  src: url('../webfonts/sourcesanspro-regular-webfont.ttf');
} 

body {
   color: blue;
   font-family: 'source_sans_proregular';
   background: #fff url(../webfonts/wrap-bg.png) repeat 0 0;
}
